* {
    font-family: Helvetica;
}

body {
    /* background-color: #333 !important; */
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
}

:root {
    --claro:#b1b1b1;
    --verdeOscuro: #25d366;
    --verde: #6EEB83;
    --verdeTransparente: rgba(110, 235, 131, 0.9);
    /* --verdeTransparente: #40AD20; */
    --blancoTranspraente: rgba(255,255,255,0.9);
    --negroTransparente: rgb(13, 19, 23,0.5);
    --negro: #0D1317;
    --negroOpaco: #333;
}


/* Menu */

.cont-nav-ppal {
    position: relative;
    z-index: 5;
}

.cont-nav {
    background-color: var(--verdeTransparente);
    width: 3.7rem;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.cont-nav ul{
    list-style: none !important;
    margin-block-start: 0 !important;
    padding-left: 0;

}

.encabezado-menu {
    border-bottom: 2px solid white;
    
}


.enlaces:hover {
    color: white;
} 

#menu {
    
}



.enlaces {
    display: flex;
    color: #f1f1f1;
    text-decoration: none;
    padding: 0.7rem 1rem;
}

.logo.enlaces{
    font-size: 1.5rem;
    padding: 0.85rem 1rem !important;
}

#btn-mostrar-ocultar {
    cursor: pointer;
}

.enlaces .icono-enlace {
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlaces i {
    display: block !important;
    width: 2rem !important;
    font-size: 1.5rem;
     margin-right: 1rem;
}

.icono-enlace.chico i{
    font-size: 0.8rem !important;
    margin-left: 1rem;
}





#submenu-administracion {
    background-color: var(--verde);
    height: 0;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
    
}

#submenu-administracion.desplegar-submenu {
    height: 8.5rem;
}


#submenu-administracion .enlaces i {

    font-size: 1rem;
    margin-left: 0.2rem;
}

#submenu-administracion .enlaces {

    font-size: 0.9rem;

}

#enlace-administracion .icono-enlace.chico i {
    transition: all 0.3s ease;
}

#enlace-administracion .icono-enlace.chico i.rotar-icono {
    transform: rotateX(180deg);
}

/*


.seleccionado {
    color: white;
    position: relative;
}

.seleccionado::before {
    content: "";
    height: 100%;
    width: 2px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
} */

#btn-mostrar-ocultar {
    top: 5rem;
    left: 100%;
    background-color: var(--verde);
    padding: 0.7rem 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    /*transform: translateX(-50%) !important; */
}


#btn-mostrar-ocultar i {
    margin: 0;
}

.mostrar-menu {
    width: 15rem;
}



/* -------------------- */


/* ------------------ Sección de ingreso a la aplicación -------------------- */



.bg-verde-tpt {
    background-color: var(--verdeTransparente) !important;
}

.bg-blanco-tpt {
    background-color: var(--blancoTranspraente) !important;
}

.btn-verde {
    background-color: var(--verde);
    color: white;
}

.text-negro {
    color: var(--negro) !important;
}

.text-verde {
    color: var(--verde);
}

.bg-negro-tpt {
    background-color: var(--negroTransparente);
}



.btn.btn-mediano {
    width: 50% !important;
}

.cont-acordion {
    
    display: none;
}

.logo-img {
    width: 3rem;
    transition: all 0.5s ease-in-out;
}

.cont-ingresar .logo-img {
    width: 15rem !important;
}

.logo-img img{
    width: 100% !important;
}

.logo-img.aumentar {
    
    width: 60% !important;
}

.label-mov {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}

.logo-img img{
 
    border-radius: 45%;
}

.cont-ingresar {
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 2px 0px 4px white;
}

.titulos {
    font-size: 2.3rem;
}

.titulo-campos {
    font-weight: bold !important;
}

.form-control {
    border-color: var(--verde) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem var(--verde);
}


#seccion-login {
    background: url('../img/bg-supermercado.jpg') no-repeat center center/cover;
    position: relative;
    height: 100vh;
}


#seccion-login::before {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.d-none-mov {
    display: none !important;
}

.logo-img-mov {
    display: none;
    
}

.d-none-mov {
    display: block !important;
    
}

/* ------------- Administrador -------------------- */

small {
    font-size: 0.78rem !important;
}



#cont-ppal-menu {
    transition: all 0.5s ease-in-out;
}

#menu {

    height: 100vh;
    z-index: 3;
   
}

#menu-gestion {
    z-index: 2 !important;
}

.cont-nav-vertical {
    box-shadow: 0px 0px 5px 0px #333;
    padding: 0.7rem 0;
    position: relative;
    z-index: 4 !important;
}


.link {
    transition: all 0.3s ease !important;
}

.link:hover {
    color: #e1e1e1 !important;
}


.dropdown-menu {
    position: relative;
    z-index: 10 !important;
}

.nav-link {
    color: #f1f1f1;
}

.btn-editar-perfil {
    background-color: transparent;
    border: 1px solid var(--verdeOscuro);
    color: var(--verdeOscuro);
    transition: all 0.2s ease;
}

.btn-editar-perfil:hover {
    background-color: var(--verdeOscuro);
    color: #f1f1f1;
}

.btn-editar-perfil[disabled='disabled'] {
    border: 1px solid #d1d1d1;
    color: #d1d1d1;
}

.btn-editar-perfil[disabled='disabled']:hover {
    background: transparent;
    color: #d1d1d1;
}

.btn-img {
    overflow: hidden;
    border-radius: 5px;
}

.accordion-button {
    padding: 0.7rem 0.5rem !important;
    box-shadow: 0px 0px 5px 1px #b1b1b1;
}

.accordion-item {
    border: none !important;
}

.bloque-dotacion {
    box-shadow: 0px 0px 5px 1px #b1b1b1 !important;
    transition: all 0.5s ease;
    cursor: pointer;
}

.bloque-dotacion div i:first-child{
    font-size: 4rem;
}

.bloque-dotacion:hover{
    box-shadow: 0px 0px 10px 5px #b1b1b1 !important;
    transform: scale(1.02);
}

.bloque-dotacion.dotacion-agregada {
    cursor: auto;
}

.bloque-dotacion.dotacion-agregada:hover {
    box-shadow: 0px 0px 5px 1px #b1b1b1 !important;
    transform: scale(1);
}

.bloque-dotacion.dotacion-agregada p{
    margin: 0.9rem 0;
}

.cont-img img{
    transition: all 0.5s ease;
    background-color: rgba(13, 19, 23,0.1);
}

.cont-descripcion {
    transition: all 0.5s ease;
}

.cont-img {
    transition: all 0.3s ease;
}

.cont-registro {
    min-width: 100% !important;
    padding: 0 1rem !important;
    max-height: 100vh !important;
    overflow: auto !important;
}

.cont-icono {
    border: 2px solid var(--verde);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    text-decoration: none;
    color: var(--negro);
}

.cont-icono .icono i{
    font-size: 3rem;
}

.cont-icono:hover {
    background-color: var(--verde);
    box-shadow: 0px 0px 15px 8px #f1f1f1;
}

.cont-icono:hover {
    color: white;
}

.cont-info-rapida {
    cursor: pointer; 
    transition: all 0.4s ease;
}

.cont-info-rapida:hover {
    box-shadow: 0px 0px 10px 2px #999 !important;
}

.cont-info-rapida,
.cont-nuevos-empleados,
.cont-lista-reporte {
    box-shadow: 2px 2px 2px 2px #e1e1e1 !important;
    background-color: #fff !important;
    
}



.cont-info-rapida i{
    font-size: 3rem;
}

.cont-foto-empleado {
    border-radius: 100%;
    overflow: hidden;
}

.cont-foto-empleado img{
    width: 15rem;
}

.modal-delete {
    top: 50% !important;
    transform: translateY(-20%) !important;
}

.card-img-profile {
    height: 10rem !important;
    border-bottom: 2px solid #f1f1f1 !important;
}

.texto-negro-opaco {
    color: var(--negroOpaco) !important;
}

.texto-verde-oscuro {
    color: var(--verdeOscuro);
}

.texto-verde-oscuro:hover {
    color: green;
}

.texto-claro {
    color: var(--claro);
}


.titulo-icono {
    font-size: 1.5rem;
}

.titulo-perfil {
    font-size: 1.5rem;
    color: #333;

    
}


.long-modal {
    max-width: 1000px !important;
}

.border-bottom-black {
    border-bottom: 2px solid #333;
}

#lista-cuenta {
    border-radius: 10px;
}

#lista-cuenta a:focus,
#lista-cuenta a:hover{
    color: #fff;
}


#btn-img-registro:hover .cont-img img,
#btn-img-carta:hover .cont-img img {
    transform:scale(1.2);
}

#btn-img-registro:hover .cont-descripcion,
#btn-img-carta:hover .cont-descripcion{
    transform:translateY(-100%);
}
 
#form-registro-empleado {
    max-width: 100% !important;
    
}

#cont-campos {
    scroll-behavior: smooth !important;
    
}

#buscador-campo-usuario {
    padding-top: 2.5px !important;
    padding-bottom: 2px !important;
    width: 15rem;
    background-color: transparent;
}

#menu-desplegado {
    display: block;
    transform: scaleY(0) !important;
    transition: all 0.3s ease !important;
    transform-origin: top !important;
    position: absolute;
    scroll-behavior: smooth;
}

#menu-desplegado.desplegar {
    
    transform: scaleY(1) !important;
}

#nav-info-empleado .nav-item{
    padding: 0 1rem !important;
    position: relative;
}

#nav-info-empleado .nav-item.seleccionado::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--verde);
}

#cont-foto-perfil-nombre .cont-foto-empleado{
    z-index: 2;
}

#cont-foto-perfil-nombre::after {
    content: "";
    width: 100%;
    height: 7rem;
    position: absolute;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--verdeTransparente);
}

#cont-perfil h4{
    color: #444;
}

#cuerpo-pagina {
    transition: all 0.5s ease;
}

#campo-cant,
#cant-filtros-reporte {
    width: 2.2rem;
    margin-left: 0.3rem;
    text-align: center;
    display: inline-block;
}

#cant-filtros-reporte {
    width: 3rem;
}

/*-------------- Resposive ---------------*/

/* ---------- Login ---------------- */


@media (min-width: 576px){
    #modificar-datos-personales .modal-dialog,
    #modificar-datos-laborales .modal-dialog,
    #modificar-datos-familiares .modal-dialog {
        max-width: 1000px !important;
    }
}

@media (max-width: 500px) {

    .d-none-mov {
        display: none !important;
    }

    .logo-img-mov {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .logo-img-mov img{
        border-radius: 45%;
    }
}

